@model SongLyricsApp.Models.SongModel

@{
    ViewBag.Title = "SearchLyrics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Lyrics</h2>
<div class="form-group">
    @Html.Label("What Song?")
    @Html.TextBox("searchsongbox")
    @Html.RadioButton("searchrb", "Movie")
</div>

